html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title-container{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.load-container{
    margin-left: 10%;
    margin-bottom: 10%;
}

.search-container{
    margin-right: 10%;
    margin-bottom: 10%;
}